.navbar{
  display: flex;
  height: 100px;
  /* width: 60%; */
  justify-content: flex-end;
  align-items: flex-end;
  /* align-content: flex-end;  */
  padding-left: 20px;
  padding-right: 20px;
  background-color: orange;
}

.header{
  display: flex;
  margin-right: 200px;
  /* background-color: indigo; */
}

.header_buttons_wrapper{
  display: flex;
  width: 800px;
  /* align-items: space-between; */
  justify-content: space-around;
  margin-bottom: 10px;
  /* background-color: blanchedalmond; */
}

.section{
  display: flex;
  width: 400px;
  justify-content: flex-end;
  /* margin-left: 100px; */
  margin-bottom: 10px;
  /* background-color: hotpink; */
}

.section_div{
display: flex;
justify-content: flex-end;
}

.header_button{
  width: 100px;
  height: 40px;
  border: none;
  font-size: 20px;
  background-color: inherit;
  /* color: black; */

  
}

.header_button:hover{
  border: 2px solid black;
}

.snacksPage{
  display: flex;
  /* padding-left: 200px;
  padding-top: 100px; */
}

.snacksPage_wrapper{
  display: flex;
  flex-basis: 600px;
  padding: 10px;
  border: 2px solid orange;
}

.productsWrapper{
  display: flex;
  width: 1010px;
  justify-content: space-between;
  
  border: 2px solid green;
  background-color: palegreen;
}

.productsWrapper p{
  flex-basis: 200px;
  text-align: center;
}

.productsWrapper div{
  flex-basis: 200px;
}

.cartPage{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.mainWrapper{
  /* flex-direction: ; */
  width: 1010px;
  height: 500px;
  /* background-color: lightblue; */
}

.cartProducts_Wrapper{
  height: 200px;
  background-color: rgb(175, 60, 60);
}

.cart_header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.cart_header div{
  text-align: center;
  flex-basis: 200px;
}

.actionButtonsWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.actionButtonsWrapper button {
  width: 60px;
  height: 30px;
  background-color: grey;
  color: white;
  border: none;
  font-size: 1rem;
}

.actionButtonsWrapper button:hover {
  background-color: white;
  color: black;
  border: 1px solid;
  font-size: 1rem;
}

.adminPage{
  display: flex;
  flex-basis: auto;
  justify-content: space-evenly;
  background-color: green;
}

.admin_products_wrapper{
  display: flex;
  flex-basis: auto;
  padding: 10px;
}


.admin_form{
  display: flex;
  flex-basis: 600px;
  padding: 10px;
  border: 2px solid orange;
}

.adminProductsWrapper{
  display: flex;
  width: 400px;
  justify-content: space-between;
  
  border: 2px solid green;
  background-color: palegreen;
}



/* Strona logowania */

.login_page{
  display: flex;
  justify-content: center;
 
  width: 1900px;
  height: 100%;
}

.login_form_wrapper{
  display: flex;
  font-size: 20px;
  width: 400px;
  height: 400px;
  margin-top: 100px;
  padding: 20px;
  border: 2px solid orange;

}

.login_form input{
  width: 350px;
  height: 40px;
  padding: 10px;
  margin: 5px;
}

.login_form button{
  width: 60px;
  height: 40px;
  margin: 10px;
}

.login_form_div {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 16px;
}

.login_form_div a {
  text-decoration: underline;
  color: blue;
}

.login_form_div a:hover { 
  color: red;
}